<div class="sidebar">
  <div class="logo text-center pt-2 ps-0">
    <img
      routerLink="/"
      src="assets/img/logo.png"
      alt="logo"
      width="50px"
      height="50px"
    />
  </div>
  <div class="nav-bar">
    <ul class="nav-menu text-sidebar">
      <!--<li routerLink="/" routerLinkActive="active" class="nav-item"><fa-icon [icon]="faHome"></fa-icon>Home</li>-->
      <li
        routerLink="./generate-barcode"
        routerLinkActive="active"
        class="nav-item"
      >
        <fa-icon [icon]="faLink"></fa-icon>
        <span class="d-none d-md-inline-block">Generate Code</span>
      </li>

      <li routerLink="./list" routerLinkActive="active" class="nav-item">
        <fa-icon [icon]="faList"></fa-icon
        ><span class="d-none d-md-inline-block"> List Barcodes</span>
      </li>

      <li routerLink="./clients" routerLinkActive="active" class="nav-item">
        <fa-icon [icon]="faAddressBook"></fa-icon>
        <span class="d-none d-md-inline-block">Clients</span>
      </li>

      <li routerLink="./notification" routerLinkActive="active" class="nav-item">
        <fa-icon [icon]="faBell"></fa-icon>
        <span class="d-none d-md-inline-block">Notifications</span>
      </li>

      <li routerLink="setting" routerLinkActive="active" class="nav-item">
        <fa-icon [icon]="faSetting"></fa-icon
        ><span class="d-none d-md-inline-block">Setting</span>
      </li>

    </ul>
  </div>
</div>
