form {
  border: none!important;
}

/* Place holder text style */
::placeholder {
  font-size: 0.875em;
  color: #6c757d!important;
}

/*Button forgot password on disable */
.btn-forgot:disabled{
  background-color: rgba(13,110,253, 0.3);
  border: none;
}
