<!--Form submit email to recover password-->
<div class="forgot-password" *ngIf="isShowSubmitForm">
  <ng-container>
    <form
      [formGroup]="forgotForm"
      class="form-control bg-color-primary"
      (ngSubmit)="handleForgotPassword()"
    >

      <!--Input Email-->
      <ng-container>
        <label for="emailForgot" class="form-label mt-3 mb-3 fw-600 text-color-primary">Enter your email to reset password</label>
        <input
          type="email"
          class="form-control mb-3"
          id="emailForgot"
          formControlName="emailForgot"
          required
          placeholder="Enter your email ..."
        />
      </ng-container>

      <!--Show errors-->
      <ng-container>
        <!--Show notice when email not exist-->
        <ng-container *ngIf="isShowError">
          <p class="text-danger fw-600" role="alert">
            * This email not exist ! Please try again.
          </p>
        </ng-container>
      </ng-container>


      <!--Button submit-->
      <div class="text-center mt-4 mb-4">
        <button
          [disabled]="forgotForm.invalid"
          class="btn btn-primary btn-forgot"
          type="submit"
          #btnForgot
        >
          Submit
        </button>
      </div>

    </form>
  </ng-container>
</div>

<!--Show spinner-->
<ng-container *ngIf="isShowLoading">
  <div class="mb-4">
    <app-spinner-loading></app-spinner-loading>
  </div>
</ng-container>

<!--Display notice when submit done-->
<ng-container *ngIf="isDoneSubmit">
  <p class="text-success mb-4">Please check your email to reset password !</p>
</ng-container>
