<div class="user-setting">
  <form [formGroup]="userSettingForm">
    <div class="row">
      <div class="mx-auto col-12 col-md-8 col-lg-7 col-sm-10">
        <div class="mb-3">
          <label for="name" class="form-label">User name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
      </div>
    </div>
      <div class="row">
        <div class="mx-auto col-12 col-md-8 col-lg-7 col-sm-10">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
        </div>
      </div>
    <!--Button save-->
    <div class="row mb-3">
      <div class="mx-auto col-12 col-md-8 col-lg-7 col-sm-10">
        <div class="text-center mt-3">
          <button class="btn btn-danger me-3">Cancel</button>
          <button class="btn btn-primary me-3">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
