.list-url-container {
}

.list-url {
  border-radius: 8px;
}

.category-search {
  width: 25%;
}

.select-search {
  /*padding-left: 30px;
  padding-right: 30px;*/
}

.table-content {
  position: relative;
}

/*Modify table material*/
.mat-header-cell {
  font-weight: 600;
  color: var(--text-color-primay);
  font-size: 14px;
}
table {
  width: 100% !important;
}
.mat-table,
.mat-paginator {
  background-color: transparent;
  color: var(--text-color-secondary);
}
.mat-table tr:hover td {
  color: var(--text-color-primay) !important;
  /*border: 1px solid;*/
}

/* Hover effect row table */
.hover-row-effect:hover {
  box-shadow: 0 9px 4px -6px rgba(0, 0, 0, 0.25);
  transform: scaleX(1.01);
}

/* Label on mobi layout*/
.mobile-label {
  display: none;
}

/* Spinner container */
.spinner-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 576px) {
  .category-search {
    width: 100%;
    margin: 10px auto;
  }


  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  td {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 0;
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 0;
  }
  td span {
    width: 100%;
    flex: 50%;
    padding: 5px 8px;
  }
  tr {
    border-bottom: 1px solid var(--text-color-primay);
    border-top: 1px solid var(--text-color-primay);
  }
  ::ng-deep .mat-paginator .mat-paginator-container {
    justify-content: center!important;
    flex-direction: row-reverse;
  }

  ::ng-deep .mat-paginator .mat-paginator-range-actions {
    display: block!important;
    order: 1;
  }
  ::ng-deep .mat-paginator .mat-paginator-range-label {
    margin: 10px auto;
    text-align: center;
  }
  ::ng-deep .mat-paginator .mat-paginator-page-size {
    order: 2;
  } .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }

  .mat-header-row {
    display: none;
  }

  td {
    display: flex;
    flex-direction: row;
    padding: 8px 24px;
    align-items: start;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 0;
  }
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 0;
  }
  td span {
    width: 100%;
    flex: 50%;
    padding: 5px 8px;
  }
  tr {
    border-bottom: 1px solid var(--text-color-primay);
    border-top: 1px solid var(--text-color-primay);
  }
  ::ng-deep .mat-paginator .mat-paginator-container {
    justify-content: center!important;
    flex-direction: row-reverse;
  }

  ::ng-deep .mat-paginator .mat-paginator-range-actions {
    display: block!important;
    order: 1;
  }
  ::ng-deep .mat-paginator .mat-paginator-range-label {
    margin: 10px auto;
    text-align: center;
  }
  ::ng-deep .mat-paginator .mat-paginator-page-size {
    order: 2;
  }

  /* Spinner */
  .spinner-container {
    top: 15%;
  }

}
