<div class="notification fade-in-alert" *ngIf="allNotify$|async as allNotify">
  <div class="notify-content">
    <ng-container *ngFor="let item of allNotify">
      <div data-bs-toggle="modal" data-bs-target="#modal" (click)="handleClick($event)">
        <div class="alert hover-cursor" [ngClass]="{'alert-success': item.status==='unread','alert-secondary':
        item.status==='read'}"
             role="alert"
             id="{{item.barcodeId}}"
             [attr.data-notify-id]="item?.barcodeId">
          Barcode with number {{item?.barcodeNumber|| "xxx-xxx-xxx-xxx"}} is paid !
        </div>
      </div>
    </ng-container>
  </div>

  <!--Modal show info-->
  <ng-container>
    <div class="modal fade-in-alert" id="modal" #alertModal>
      <div class="modal-dialog modal-info-alert">
        <div class="modal-content">
          <app-alert-modal [idNotify$]="idNotify$"></app-alert-modal>
        </div>
      </div>
    </div>
  </ng-container>


</div>
