<div class="notification fade-in-alert">
  <div class="notify-content">
    <div class="alert alert-success" role="alert">
      Transaction ID 9384983883 success !
    </div>
    <div class="alert alert-success" role="alert">
      Transaction ID 9384983883 success !
    </div>
    <div class="alert alert-danger" role="alert">
      Transaction ID 9384983883 fail !
    </div>
    <div class="alert alert-success" role="alert">
      Transaction ID 9334983843 success !
    </div>
    <div class="alert alert-success" role="alert">
      Transaction ID 63846983823 success !
    </div>
    <div class="alert alert-danger" role="alert">
      Transaction ID 9384983883 fail !
    </div>
  </div>

</div>
