<div class="list-url">
  <div class="url-list mt-3 table-responsive">
    <table class="table table-md table-bordered">
      <thead>
      <tr class = "bg-primary text-white">
        <th>ID</th>
        <th>Price (£)</th>
        <th>Barcode Link</th>
        <th>Date Created</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <!--<ng-container *ngIf="listUrlData.length>0">
        <tr *ngFor="let item of listUrlData; index as i">
          <td>{{i +1}}</td>
          <td>{{item?.price}}</td>
          <td><a class="text-decoration-none" href="{{item?.url}}">{{item?.url}}</a></td>
          <td>{{item?.dateCreated | date: "dd/MM/yy"}}</td>
          <td>spending</td>
          <td><button class="btn btn-danger" (click)="deleteItemUrl(item?.id)">Delete</button></td>
        </tr>
      </ng-container>-->

      </tbody>

    </table>
  </div>
</div>
