.list-url-container {

}

.list-url {
  border-radius: 8px;
}

.category-search {
  width: 25%;
}

.select-search {
  /*padding-left: 30px;
  padding-right: 30px;*/
}

@media (max-width: 576px) {
  .category-search {
    width: 100%;
    margin: 10px auto;
  }
}
