.content {
  padding:30px 30px 20px 30px;
}


table tr, td, th {
  padding: 5px 12px;
  margin: 0;
}
table tr {
  padding: 10px 5px;
}

@media (max-width: 576px) {
  table td{
    max-width: 210px;
    word-wrap: break-word;
  }
}
