.barcode-dialog {
  padding: 30px 40px;
}

table th, td {
  padding: 5px 10px;
}

table th {
  font-weight: 600;
  color: var(--text-color-secondary);
}

a:focus {
  outline: none;
}

/* Overwrite */

@media (max-width: 576px) {
  table td{
    word-break: break-word;
  }
}
