@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.header-container {
  height: 60px;

}
.header-icon {
  height: 100%;
  font-size: 25px;
  color: #0000008c;
}

.brand-name {
  position: relative;
  left: 30%;
}


