.setting-container {
  border-radius: 8px;
  width: 70%;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 10px;
}
.setting {
  padding: 15px;

}

.nav-link.active {
  border-color:#dee2e6 #dee2e6 #fff !important;
  color: #00a3ff!important;
}
.setting-title-sm {
  display: none;
}

@media (max-width: 576px){
  .setting-container{
    width: 100%;
  }
  .setting-title-sm{
    display: block;
  }
  .setting-menu {
    display: flex!important;
    flex-direction: column!important;
    margin-bottom: 30px;
  }

}
