<div class="mailServe-setting">
  <form [formGroup]="mailServerForm">
    <div class="row">
      <div class="mx-auto col-12 col-md-8 col-lg-7 col-sm-10">
        <div class="mb-3">
          <label for="userEmail" class="form-label">User name email</label>
          <input type="email" class="form-control" id="userEmail" formControlName="userEmail">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-12 col-md-8 col-lg-7 col-sm-10">
        <div class="mb-3">
          <label for="appPass" class="form-label">Password App Mail</label>
          <input type="text" class="form-control" id="appPass" formControlName="appPass">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-12 col-md-8 col-lg-7 col-sm-10">
        <div class="receive-list">
          <label for="email-list" class="form-label">List email receive notify</label>
          <ul id="email-list">
            <ng-container *ngIf="receiveEmailList?.length>0">
              <ng-container *ngFor="let item of receiveEmailList">
                <li>{{item}}</li>
              </ng-container>
            </ng-container>

            <li>
              <div class="row mt-2 mb-2">
                <div class="col-12 col-sm-12 col-lg-12">
                  <div class="input-group">
                    <input formControlName="addReceiveEmail" class="form-control" type="email"
                           placeholder="Add more email">
                    <button
                      class="btn btn-secondary" (click)="handleAddEmail()">Add</button>
                  </div>
                </div>
              </div>
            </li>

              <!--Show notice when user not input email-->
              <ng-container
                *ngIf="
                !mailServerForm.controls['addReceiveEmail'].valid &&
                mailServerForm.controls['addReceiveEmail'].touched
              "
              >
                <p class="text-danger" role="alert">
                  * Please enter correct email !
                </p>

              </ng-container>
          </ul>
        </div>
      </div>
    </div>


    <!--Show loading spinner-->
    <ng-container *ngIf="isShowLoading">
      <div class="mb-3">
        <app-spinner-loading></app-spinner-loading>
      </div>
    </ng-container>

    <!--Show alert when submit save-->
    <!--Save success alert-->
    <ng-container *ngIf="isShowSuccessAlert">
      <app-alert-success [message]="'Save setting success!'"></app-alert-success>
    </ng-container>

    <!--Save fail alert-->
    <ng-container *ngIf="isShowFailAlert">
      <app-alert-fail [message]="'Save setting fail!'"></app-alert-fail>
    </ng-container>

    <!--Button save-->
    <ng-container *ngIf="isShowButtonSave">
      <div class="row mb-3">
        <div class="mx-auto col-12 col-md-8 col-lg-7 col-sm-10">
          <div class="text-center mt-3">
            <button [disabled]="isDisableButton" (click)="getDefaultSetting()"
                    class="btn btn-secondary me-4 btn-disable">Default Setting</button>
            <button
              class="btn btn-primary btn-disable"
              [disabled]="mailServerForm.invalid || isDisableButton"
              (click)="handleSave()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
